<b>photo-list</b>

<ul class="photos-list" >
  <li><img src="../../../assets/images/profile/jose-pintado.jpg" loading="lazy" alt="..." /></li>
  <li><img src="../../../assets/images/profile/jose-pintado.jpg" loading="lazy" alt="..." /></li>
  <li><img src="../../../assets/images/profile/jose-pintado.jpg" loading="lazy" alt="..." /></li>
  <li><img src="../../../assets/images/profile/jose-pintado.jpg" loading="lazy" alt="..." /></li>
  <li><img src="../../../assets/images/profile/jose-pintado.jpg" loading="lazy" alt="..." /></li>
  <li><img src="../../../assets/images/profile/jose-pintado.jpg" loading="lazy" alt="..." /></li>
</ul>
