
.driver-list-card {
  width: 100%;
  margin-bottom: 1em;
  text-decoration: none;
  color: black;
  align-items: center;
}




.drivel-list-full-data-style .driver-list-card-img {

}

.driver-list-card p {
  margin: 0;
}

